/* CSS - Padrões das Páginas*/
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

.background{
  background-image: url("../../image/background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.position-card{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card{
  background-color: #FFFFFF;
  width: 80%;
  min-height: 80vh;
  border: 2px solid #B98DD6;
  border-radius: 10px;
}

.card-info{
  display: grid;
  place-items: center;

  /* font-family: "Emilys Candy"; */
}

.logo{
  width: 20vw;
  height: 20vh;
}

.form{
  display: grid;
  place-items: center;
}

/* Se repete em botoes e inputs da tela home, login, cadastro - cor branco e azul*/

.btn-input-wb{
  width: 55vw;
  height: 5vh;
  border: 2px solid #55CBCD;
  background-color: #FFFFFF;
  border-radius: 10px;
  font-size: 1.5rem;
}

/* Se repete em botoes tela home, login, cadastro - cor branco e azul*/
.btn-purple{
  height: 5vh;
  background-color: #6A4085;
  border: none;
  color:#FFFFFF;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 15px;
}

.sobre{
  margin-top: 50px;
  color:#6A4085;
  cursor: pointer;
}

@media only screen and (min-width: 912px) {
  .background{
    background-image: url("../../image/background-desktop.svg");
  }

  .position-card{
    justify-content: flex-end;
    margin-right: 50px;
  }

  .card{
    width: 40%;
  }

  .logo{
    width: 8vw;
  }

  .btn-input-wb{
    width: 20vw;
  }

}
